*{
  font-family: Verdana,Tahoma,sans-serif;
  color: black;
}

#root{
  height: 100vh;
  width: 60vw;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

h1{
  align-content: center;
  align-items: center;
  text-align: center;
}

p, input{
  font-size: 16px;
}

input{
  width: 100%;
}

.app{
  height: 80vh;
  width: 80vw;
  background-color: rgb(250,250,250);
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.16) 0 1px 4px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.code-display{
  width: 100%;
  margin: 2%;
  height: 100%;
  border-radius: 15px;
  background-color: black;
  overflow: hidden;
}

.code-output{
  width: 80%;
  margin: 1%;
  height: 300%;
  border-radius: 20px;
  background-color: black;
  padding: 50px;
  overflow: hidden;
}

.buttons{
  width: 100%;
  height: 30px;
  background-color: gray;
  display: flex;
  align-items: center;
  padding-left: 5px;
}

.button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  margin: 4px;
  background-color: red;
}

.button.first{
  background-color: orangered;
}
.button.second{
  background-color: rgb(255,189,45);
}
.button.last{
  background-color: green;
}

.messages-display{
  width:96%;
  margin: 2%;
  height: 46%;
  overflow-y: scroll;
}

::-webkit-scrollbar{
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: rgba(0,0,0,0.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,0.5);
}

.message-display {
  width: 100%;
  display: flex;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: rgb(250,250,250);
  margin: 5px 0;
}

p#icon{
  padding: 0 7px;
}

input{
  margin: 2%;
  padding: 10px;
  border: solid rgba(0,0,0,0.16) 1px;
  box-sizing: border-box;
  border-radius: 5px;
}

.button-container{
  margin: 2%;
  display: flex;
  justify-content: flex-end;
}

.button-container button{
  text-transform: uppercase;
  padding: 7px;
  border: none;
}

button#get-query {
  background-color: mediumseagreen;
  border-radius: 10px 0 0 10px;
}

button#clear-chat {
  background-color: deepskyblue;
  border-radius: 0 10px 10px 0;
}


.code-output p{
  color: yellow;
  font-size: small;
  align-content: flex-start;
}